language: go

go:
  - "1.17.x"
  - "1.18.x"
  - tip

#before_script:
#  # coverage reporter
#  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
#  - chmod +x ./cc-test-reporter
#  - ./cc-test-reporter before-build

script:
  - go vet ./...
#  - go test -v -race -coverprofile=coverage.out -covermode=atomic
  - go test -v -race ./...

#after_script:
#  - ./cc-test-reporter format-coverage -t gocov coverage.out
#  - ./cc-test-reporter upload-coverage
